# Docker conf
USER=dev
UID=MY_UID

# DEV
DOCKER_COMPOSE_CMD="docker-compose -p flarum_ldap_JOB_ID_ -f docker/docker-compose.yml"

#MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=flarum
MYSQL_USER=flarum
MYSQL_PASSWORD=flarum

#PMA
PMA_HOST=mysql
PMA_PORT=3306
